<h1><%= @story.title %></h1>
<% @story.acts.each do |act| %>
  <% act.scenes.each do |scene| %>
    <% scene.paragraphs.each do |paragraph| %>
      <p><%= paragraph.to_html %></p>
    <% end %>
    <hr>
  <% end %>
<% end %>
